body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(44, 44, 44);
}

header {
    font-size: 1.6rem;
    text-align: center;
    margin: 25px 0;
}

.userContainer {
    padding: 10px;
    width: 90%;
    margin: 10px auto;
    display: flex;
    background: #d2d2d2;
}
.info-container {
    flex: 1;
    margin: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name {
    font-size: 1.4rem;
}
span, .email, .age {
    font-size: 1.2rem;
}

.button-container {
    text-align: center;
    margin: 50px 0;
}
#loadNew {
    display: inline;
    font-size: 24px;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#loadNew:hover {
    background: darkgreen;
}
#loadNew:active {
    background: green;
}

@media only screen and (max-width: 500px) {
    .userContainer {
        flex-direction: column;
    }
    .thumbnail {
        width: 50%;
        margin: 10px auto;
    }
    span {
        margin: 5px 0;
    }
  }